*{
    margin:0;
    padding:0;
    font-family: 'Kanit', sans-serif;
}

.logo{
    display: block;
    margin: auto;
    width: 135px;
}

.navegador{
    background-color: black;
    text-align: center;
    padding: 20px;
}

.anclas{
    color: white;
    margin: 10px;
    text-decoration: none;
}

.anclas:hover{
    color:lightblue;
}

main{
    font-size: 20px;
}

footer{
    background-color: black;
    color:white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    line-height: 60px;    
}
header{
    background-color:black;
}
.html{
    text-align: center;
    /*Top Right Bottom left*/
    padding: 50px 300px 30px 300px;
}

.html img{
    width: 120px;
    padding-bottom: 15px;
}

.css{
    text-align: center;
    padding: 40px 300px 40px 300px;
}

.css img{
    width: 120px;
    padding-bottom: 15px;
}
