*{
    margin:0;
    padding:0;
}

.logo{
    margin: 15px;
    width: 125px;
}

.navegador{
    background-color: gray;
    text-align: right;
    padding: 10px;
}

.anclas{
    color: black;
    margin: 2px;
}

footer{
    background-color: gray;
    text-align: center;
}

.html{
    text-align: left;
    /*Top Right Bottom left*/
    padding: 3px 320px 20px 320px;
}

.html img{
    width: 80px;
    padding: 10px 0px 20px 35px;
}

.css{
    text-align: left;
    padding: 0px 320px 35px 320px;
}

.css img{
    width: 100px;
    padding-bottom: 20px;
}
